<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="../bower_components/normalize-css/normalize.css")
        link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="../bower_components/font-awesome-5/css/all.min.css")
        link(rel="stylesheet", href="../css/team.css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Team
    body
        nav.navbar.navbar-expand-lg.ml-5.mt-2.navbar-dark.bg-light
            a.navbar-brand(href='index.html') ToF PC
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='./prep.html') Preparatory
                    li.nav-item
                        a.nav-link(href='./specs.html') Specifications
                    li.nav-item
                        a.nav-link(href='./realization.html') Realization
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Team 
                            span.sr-only (current)
        .container.team
            .row
                .col-8.offset-2.mt-4.text-center
                    h1 The Team
            .row
                .col-10.offset-1
                    p.text-center The dream team that created this project is a group of three mexican 🇲🇽❤️ guys that hard worked during months to make possible this project.
            .row
                .col-12.col-lg-4.mt-5
                    .card(style='width: 18rem;')
                        //- h5.card-header.text-center.bg-light Web Developer
                        img.card-img-top(src='../media/pic_neri.jpg', alt='...')
                        .card-body
                            h5.card-title 
                                a(href="https://github.com/ale-neri97", title="Gh: @ale-neri97") Alejandro Neri
                            h6.card-subtitle.mb-2.text-muted Algorithms Exploration
                            p.card-text
                                | Worked testing different object and face recognition algorithms and it's implementation.
                .col-12.col-lg-4.mt-5
                    .card(style='width: 18rem;')
                        //- h5.card-header.text-center.bg-light Web Developer
                        img.card-img-top(src='../media/pic_david.jpg', alt='...')
                        .card-body
                            h5.card-title
                                a(href="https://github.com/davidsrn", title="Gh: @davidsrn") David Ramírez
                            h6.card-subtitle.mb-2.text-muted Real-Time Streaming
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                .col-12.col-lg-4.mt-5
                    .card(style='width: 18rem;')
                        //- h5.card-header.text-center.bg-light Web Developer
                        img.card-img-top(src='../media/pic_fily.jpg', alt='...')
                        .card-body
                            h5.card-title 
                                a(href="https://github.com/filyv", title="Gh: @filyv") Filiberto Vazquez
                            h6.card-subtitle.mb-2.text-muted Standard Algorithms
                            //- h6.card-subtitle.mb-2.text-muted Web Developer
                            p.card-text
                                | The standard algorithms by Texas Instruments were followed to achieve human body detection
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')